header{
  width: 100%;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i{
  color: $white-normal;
}

.header-icons{
  display: flex;
  font-size: 28px;
  gap: 12px;
}

.header-icons a:hover{
  i{
    animation: translateY 0.8s infinite alternate; /*define o tempo da tramsaçao infinita para que nao fique subindo e descendo*/
    color: $red-light;
  }
}

/*Animaçao dos icones de rede social*/
@keyframes translateY{
  from{ 
    transform: translateY(0) scale(1);
  }
  to{ 
    transform: translateY(-8px) scale(1.1);
  }
}

.header-button{
  padding: 9px 10px;
  font-size: 16px;
  border-radius: 4px;
  color: $white-normal;
  background-color: $red-light;
  transition: background-color 0.8s;
}

.header-button:hover{
  background-color: $red-dark;
}

.header-logo{
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}


@media screen and (max-width: 768px) {
  .header-content{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i{
      margin-top: 15px;
      font-size: 29px;
    }
  }

  .header-logo{
    width: 280px;
    margin-top: -60px;
  }

  .header-button{
    display: none;
  }
}