.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}

// BG home
.bg-home{
  position: relative;
  margin: 0 auto;
}

.bg-home::before{
  content: '';
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgb(6, 18, 30, 0.1), #000000), url("../assets/Maquinas2.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}
// -------End Bg home --------

//----------Hero-------------
.hero{
  color: $white-normal;
  min-height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1{
    text-align: center;
    max-width: 100%;
    font-size: 38px;
    margin-top: -280px;
    padding: 20px;
    text-align: center;
  }

  h3{
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    color: $white-dark;
  }

  P{
    text-align: center;
    align-items: center;
    margin-top: -10px;
    color: $white-dark;
  }
}

.button-contact{
  padding: 14px 28px;
  color: $white-normal;
  background-color: $red-normal;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
}

.button-contact:hover{
  background-color: $red-dark;
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.3);
  }
}

@media screen and (max-width: 768px){
  .hero{
    min-height: 60vh;

    h1{
      font-size: 23px;
      padding: 10px;
      margin-top: 10px;
    }

    h3{
      padding: 2px;
    }

    p{ 
      font-size: 14px;
    }

    .button-contact{
      margin-top: 90px;
    }
    
  }
}

@media screen and (max-width: 480px){
  .hero h1{
    font-size: 18px;
    justify-content: space-between;
  }

  p{
    font-size: 14px;
    align-items: center;
    text-align: center;
  }
}

//---------------End hero------------------

//------------About----------------

.about{
  background-color: $primary-normal;
  overflow: hidden;
  color: $white-dark
}

.about-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  padding: 4px 10px 10px;

  img{
    max-width: 500px;
  }
}

.about-content div{
  flex: 1;
}

.about-description{
  h2{
    color: $red-dark;
    font-size: 38px;
    margin-bottom: 5px;
  }

  p{
    margin-bottom: 20px;
    line-height: 130%;
    font-size: 18px;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .about-content{
    flex-direction: column;

    img{
      width: 350px;
    }
  }

  .about-description p{
    font-size: 16px;
    line-height: 130%;
    margin-top: -10px;
    text-align: justify;
  }
}

//------------ End About----------------

//-----------Services-------------------
.services{
  background-color: $white-dark;
  color: $black-normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2{
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 18px;
  font-weight: 600;
}

.services-content p{
  line-height: 150%;
  margin-bottom: 14px;
  padding: 12px;
  text-align: left;
  max-width: 780px;
}

@media screen and (max-width: 768px) {
  .services-content h2{
    font-size: 28px;
    margin-top: -12px;
  }
}
//----------------End services----------

//------------haircuts----------

.haircuts{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 34px 22px 34px;
}

.haircut{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $white-normal;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0,0,0, 0.5);
  overflow: hidden;

  img{
    width: 100%;
    max-width: 354px;

    transition: transform 0.3s;
  }
}

.haircut img:hover{
  transform: scale(1.3);
  z-index: 1;
}

.haircut-info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: $white-normal;
  z-index: 2;

  button{
    background-color: $red-normal;
    color: $white-normal;
    border: none;
    border-radius: 4px;
    padding: 4px 10px;
  }
}

@media screen and (max-width: 768px) {
  .haircuts{
    flex-direction: column;
  }

  .haircut img{
    max-width: 740px;
  }
}

//----------------End haircuts----------


//----------------Shedule(Agendar)----------
.schedules{
  //overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 120px 14px;
  //background-color: $primary-normal;
  background: linear-gradient(rgb(32, 32, 32), rgba(0, 0, 0, 1)); 
}

.schedule{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  padding: 16px 10px 10px;

  img{
    max-width: 600px;
  }
}

.schedule div{
  flex: 1;
}

.schedule-description{
  h2{
    color: $red-dark;
    font-size: 38px;
    max-width: 400px;
    width: 100%;
    margin-top: -100px;
    padding: 9px 9px 20px;
  }
}

.schedule-description input[type="text"],
.schedule-description input[type="tel"]{
  width: 90%;
  padding: 9px;
  border-radius: 4px;
  margin-bottom: 10px;
  flex-direction: column;
}

.schedule-description input[type="submit"]{
  width: 90%;
  padding: 12px;
  justify-content: center;
  background-color: $red-normal;
  color: $white-dark;
  font-size: 15px;
  letter-spacing: 2px;
  border: none;border-radius: 4px;
  cursor: pointer;
  margin-top: 12px;
  font-weight: bold;
  transition: background-color 0.8s;
}

input[type="submit"]:hover{
  background-color: $red-dark;
}

@media screen and (max-width: 768px){
  .schedule{
    img{
      width: 180px;
      height: 170px;
    }
  }

  .schedule-description{
    max-width: 400px;

    h2{
      margin-top: -12px;
      font-size: 16px;
      align-items: center;
    }
  }

.schedule-description input[type="text"],
.schedule-description input[type="tel"]{
  width: 100%;
  padding: 2px 6px 6px;
}

.schedule-description input[type="submit"]{
  padding: 6px;
  width: 100%;
  font-size: 10px;
  margin-top: 5px;
}
}
//----------------End Shedule(Agendar)----------


//----------------Footer----------------

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: -68px 0;
  color: $white-normal;

  p{
    text-align: center;
  }

  img{
    max-width: 320px;
  }
}

@media screen and (max-width: 768px) {
  p{
    font-size: 12px;
    text-align: justify;
    padding: 10px;
    margin-bottom: -50px;
  }

  .footer img{
    width: 288px;
  }
}

//------------End Footer------------

//-----------WhatsApp--------------- 
.btn-whatsapp{
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 2;

  img{
    max-width: 38px;
    transform: transition 0.4s;
  }

  img:hover{
    transform: scale(1.12);
  }
}

.btn-whatsapp .span{
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: -10px;
  left: -125px;
  padding: 5px;
  border-radius: 6px;
  text-align: center;
  background-color: $black-normal;
  color: $white-normal;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.5s;
}

.btn-whatsapp:hover .span{
  visibility: visible;
  opacity: 1;
}


@media screen and (max-width: 768px) {
  .btn-whatsapp{
    max-width: 30px;
  }
}